@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f2f2f3;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}

/* Navigation----------------------------------------------------- */
.navbar {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: #1a1b25;
}
.logo img {
  width: 35px;
}
.menu {
  display: block;
}
.menu-list {
  display: flex;
}
.menu ul li {
  list-style: none;
  /* display: inline-block; */
  margin-right: 1.5rem;
}
.menu ul li a {
  text-decoration: none;
  color: #1a1b25;
}
.menu ul li a:hover {
  text-decoration: none;
  color: #1a1b25;
}
.m-logo {
  display: none;
  margin-top: 0.7rem;
}
/* Hero Section------------------------------------------------------ */
.hero-section {
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Merriweather", serif;
}
.hero-section .about {
  color: #1a1b25;
  font-size: 3.5rem;
}
.hero-section button {
  width: 100px;
  padding: 15px 0px;
  margin-top: 2rem;
  border: 0px;
  outline: none;
  background: #1a1b25;
  color: #d3deeb;
  cursor: pointer;
  transition: width 0.5s;
}
.about button a {
  text-decoration: none;
  color: #d3deeb;
}
.about button a:hover {
  text-decoration: none;
}
.about button img {
  width: 10px;
  display: none;
}
.about button:hover img {
  display: block;
}
.about button:hover {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-hero img {
  flex: 1;
  width: 400px;
}

/* Section 1-------------------------------------------------- */
.section1 {
  color: #1a1b25;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.section1_heading {
  text-align: center;
  padding: 2rem;
}
.section1-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section1-container .heading p {
  font-size: 1rem;
}
.line {
  display: inline-block;
  background-color: black;
  margin-left: 0.5rem;
  width: 60px;
  height: 3px;
}
.architecture {
  flex: 1;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
  background: #fff;
}
.planning {
  flex: 1;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: #fff;
}
.decore {
  flex: 1;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: #fff;
}
.development {
  flex: 1;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  background: #fff;
}
/* section1 all serial */
.serial {
  padding: 0.5rem;
  font-size: 1.5rem;
}
/* section1 all heading */
.heading {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
}
/* section1 all desc */
.desc {
  padding: 0.5rem;
}
/* section1 all button */
.readBtn {
  padding: 0.5rem;
  margin-left: 8px;
  width: 115px;
  cursor: pointer;
  background: #1a1b25;
  color: #d3deeb;
  transition: width 0.5s;
  text-align: center;
}
.readBtn img {
  color: white;
  width: 10px;
  display: none;
}
.readBtn:hover img {
  display: block;
}
.readBtn:hover {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-around;
}

/* Section 2-------------------------------------------------- */
.section2 {
  color: #1a1b25;
  margin-top: 8rem;
  /* border: 1px solid red; */
}
.section2_heading {
  text-align: center;
  padding: 2rem;
  /* border: 1px solid green; */
}
.section2-container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid tomato; */
}
.plan1 {
  flex: 1;
  padding: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
  background: #fff;
  /* border: 1px solid gold; */
}
.plan1-img,
.plan2-img,
.plan3-img {
  width: 100%;
}
.plan2 {
  flex: 1;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background: #fff;
  /* border: 1px solid gold; */
}
.plan3 {
  flex: 1;
  padding: 1rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  background: #fff;
  /* border: 1px solid gold; */
}

/*Section3------------------------------------------------------ */
.section3 {
  width: 100%;
  margin-top: 6rem;
  color: #1a1b25;

  /* border: 1px solid green; */
}
.section3-heading {
  text-align: center;
  padding: 2rem;
}
.section3-info {
  display: flex;
  align-items: center;
}
.section3-about {
  flex: 1;

  /* border: 1px solid red; */
}
.section3-image {
  flex: 1;
  display: flex;
  /* border: 1px solid red; */
}
.image1 img {
  width: 100%;
  padding: 0.5rem;
  /* border: 1px solid red; */
}
.imagecol {
  display: flex;
  flex-direction: column;
}
.image2 img {
  width: 100%;
  padding: 0.5rem;
}
.image3 img {
  width: 100%;
  padding: 0.5rem;
}
.space01-img {
  /* width: 250px; */
  height: 450px;
}
.space02-img {
  /* width: 200px; */
  height: 250px;
}
.space03-img {
  /* width: 200px; */
  height: 250px;
}

/* contact us----------------------------------------------- */
.contactus {
  width: 100%;
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}
.contact-img img {
  width: 100%;
  /* border: 1px solid red; */
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 1.5rem;
  /* margin: 1rem; */

  color: #1a1b25;

  /* border: 1px solid red; */
}
.contact-heading {
  padding: 1rem;
  margin: 1rem;
}
.form input {
  background-color: #fff;
  padding: 0.8rem;
  width: 100%;

  border: none;
}
.form h4 {
  padding: 1rem 1rem 1rem 0rem;
}
.form textarea {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border: none;
  outline-style: none;
}
.form {
  margin-bottom: 1rem;
}
.submit {
  width: 100px;
  padding: 0.6rem;
  margin-bottom: 1rem;
  background-color: #1a1b25;
  color: #ebeff2;
  cursor: pointer;
  border: none;
  outline: none;
}
.submit:hover {
  background-color: #5c5c5f;
}

/* footer---------------------------------------------------- */
.media {
  margin-top: 3rem;
  display: flex;
}
.address {
  flex: 1;
  padding: 3rem;
  text-align: center;
}
.address-heading h4 {
  margin-bottom: 1rem;
}
.social {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.social-heading {
  margin-bottom: 1rem;
}
.social-link {
  display: flex;
  text-align: center;
}
.instagram img {
  width: 25px;
  margin-right: 3rem;
  cursor: pointer;
}
.facebook img {
  width: 25px;
  margin-right: 3rem;
  cursor: pointer;
}
.linkedin img {
  width: 25px;
  cursor: pointer;
}
.services {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.service-details {
  text-align: center;
}
.services-heading {
  margin-bottom: 1rem;
}
footer .copyright {
  text-align: center;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .m-logo {
    display: block;
  }
  .menu {
    display: none;
    margin-top: 3rem;
    position: absolute;
    right: 0;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
  }
  .menu-list li {
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 0.6rem;
  }
}
