@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f6f7f9;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}

/* Navigation----------------------------------------------------- */
.navbar {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  color: #224762;
}
.logo img {
  width: 35px;
}
.menu {
  flex: 1;
  text-align: right;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 1.5rem;
}
.menu ul li a {
  text-decoration: none;
  color: #224762;
}
.menu ul li a:hover {
  text-decoration: none;
  color: #c0e2f9;
}
.m-logo {
  display: none;
}
/* Hero Section------------------------------------------------------ */
.hero-section {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #224762;
  font-family: "Merriweather", serif;
}
.hero-section .about {
  font-size: 3.5rem;
}
.hero-section button {
  width: 100px;
  padding: 15px 0px;
  border: 0px;
  outline: none;
  background: #ebeff2;
  transition: width 0.5s;
}
.about button img {
  width: 10px;
  display: none;
}
.about button:hover img {
  display: block;
}
.about button:hover {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-hero {
  flex: 1;
}

/* Section 1-------------------------------------------------- */
.section1 {
  color: #224762;
  margin-top: 3rem;
  /* border: 1px solid red; */
}
.section1_heading {
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* border: 1px solid green; */
}
.section1-container {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid tomato; */
}
.architecture {
  width: 300px;
  padding: 1rem;
  background: #fff;
  /* border: 1px solid gold; */
}
.planning {
  width: 300px;
  padding: 1rem;
  background: #fff;
  /* border: 1px solid gold; */
}
.decore {
  width: 300px;
  padding: 1rem;
  background: #fff;
  /* border: 1px solid gold; */
}
.development {
  width: 300px;
  padding: 1rem;
  background: #fff;
  /* border: 1px solid gold; */
}
/* section1 all serial */
.serial {
  padding: 0.5rem;
}
/* section1 all heading */
.heading {
  padding: 0.5rem;
  font-weight: bold;
}
/* section1 all desc */
.desc {
  padding: 0.5rem;
}
/* section1 all button */
.readBtn {
  padding: 0.5rem;
  margin-left: 8px;
  width: 100px;
  border: 1px solid black;
}

/* Section 2-------------------------------------------------- */
.section2 {
  color: #224762;
  margin-top: 1rem;
  /* border: 1px solid red; */
}
.section2_heading {
  display: flex;
  justify-content: center;
  padding: 2rem;
  /* border: 1px solid green; */
}
.section2-container {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid tomato; */
}
.plan1 {
  width: 400px;
  padding: 1rem;
  background: #fff;
  /* border: 1px solid gold; */
}
.plan1-img,
.plan2-img,
.plan3-img {
  width: 365px;
}
.plan2 {
  width: 400px;
  padding: 1rem;
  background: #fff;
  /* border: 1px solid gold; */
}
.plan3 {
  width: 400px;
  padding: 1rem;
  background: #fff;
  /* border: 1px solid gold; */
}

.hero-section {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}
.about {
  width: 50%;
  padding: 1rem;
  margin: 1rem;

  color: #224762;

  /* border: 1px solid red; */
}

/*Section3------------------------------------------------------ */
.section3 {
  width: 100%;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
}
.section3-about {
  width: 50%;
  padding: 1rem;
  margin: 1rem;

  color: #224762;

  /* border: 1px solid red; */
}
.section3-image {
  width: 50%;
  display: flex;
  /* border: 1px solid red; */
}
.image1 {
  height: 560px;
  padding: 0.5rem;
  /* border: 1px solid red; */
}
.image2 {
  height: 250px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  /* border: 1px solid red; */
}
.image3 {
  height: 250px;
  padding: 0.5rem;
  /* border: 1px solid red; */
}
.space01-img {
  /* width: 250px; */
  height: 500px;
}
.space02-img {
  /* width: 200px; */
  height: 250px;
}
.space03-img {
  /* width: 200px; */
  height: 250px;
}

/* contact us----------------------------------------------- */
.contactus {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}
.contact-img {
  /* width: 30%; */
  height: 600px;
  /* border: 1px solid red; */
}
.img-contact {
  height: 600px;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;

  color: #224762;

  /* border: 1px solid red; */
}
.contact-heading {
  padding: 1rem;
  margin: 1rem;
}
.form input {
  background-color: #ebeff2;
  padding: 0.8rem;
  width: 100%;

  border: none;
}
.form h3 {
  padding: 1rem;
}
.form textarea {
  background-color: #ebeff2;
  width: 100%;
  padding: 1rem;
  border: none;
  outline-style: none;
}
.submit {
  width: 100px;
  padding: 0.6rem;
}

/* footer---------------------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebeff2;
}
.media {
  height: 20vh;
  display: flex;
  justify-content: space-between;
}
.address {
  width: 400px;
  padding: 3rem;
  /* border: 1px solid red; */
}
.social {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  /* border: 1px solid red; */
}
.social-link {
  display: flex;
  /* padding: 1rem; */
  /* border: 1px solid red; */
}
.services {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  /* border: 1px solid red; */
}
